.full-screen {
      height: 100vh;
}

.main-title,
.main-actions {
      padding: 20px !important;
}

.custom-modal {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
}

.background-shadow {
      transition: 1s linear;
      background-color: rgb(0, 0, 0, 0.5) !important;
}
