@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
      --black: #292e1e;
      --purple: #7f0799;
      --light-purple: #9649cb;
      --turquise: #afbbf2;
      --light-green: #d3fff3;
}

html {
      color: var(--black);
      font-family: 'IBM Plex Mono';
}

body {
      margin: 0px;
      padding: 0px;
}

.nav {
      width: 100%;
      height: 10vh;
      min-height: 50px;
      background-color: var(--light-purple);
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.nav > * {
      margin: 0px 10px 0px 10px;
}

.button {
      background-color: var(--turquise);
      border-radius: 10px;
      border-color: transparent;
      padding: 10px;
}

.main {
      width: 100%;
      height: 80vh;
      min-height: 400px;
      background-color: var(--light-green);
}

li {
      list-style: none;
}

.footer {
      width: 100%;
      height: 10vh;
      min-height: 50px;
      background-color: var(--turquise);
}

.footer > * {
      height: 100%;
      margin: 0px 10px 0px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.title {
      padding: 0px;
      margin: 0px;
}

.modal-backdrop {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgb(0, 0, 0, 0.5);
      padding: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.modal {
      width: 40%;
      height: 40%;
      z-index: 1;
      position: relative;
      margin: 0 auto;
      padding: 20px;
      background-color: var(--light-green);
      border: transparent;
      border-radius: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
}

.modal-footer {
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: center;
}

.btn {
      height: fit-content;
      padding: 10px;
      border-radius: 10px;
      border: transparent;
      font-size: large;
      cursor: pointer;
      color: white;
      box-shadow: 2px 2px 2px var(--black);
      transition: 0.6;
      margin: 0px 10px 0px 10px;
}

.btn-delete {
      background-color: red;
}

.btn-delete:active {
      background-color: rgb(255, 0, 0, 0.6);
}

.btn-confirm {
      background-color: green;
}

.btn-confirm:active {
      background-color: rgb(0, 255, 0, 0.6);
}

.modal-body {
      width: 80%;
}

.form-input {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
}

.form-input > * {
      margin: 10px;
}

.form-input > input {
      border: 1px solid var(--black);
      background-color: var(--turquise);
      height: 100%;
      width: 60%;
      padding: 5px;
      border-radius: 5px;
      font-size: medium;
}
