body {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #f4faff;
}

#main-container {
      width: 50%;
      max-width: 500px;
      height: fit-content;
      padding: 30px;
      border: 1px solid 535657;
      border-radius: 10px;
      background-color: #dee7e7;
}

span {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
}

input {
      display: flex;
      align-items: center;
      justify-content: center;
}

button {
      width: 100%;
}

input[valid='false'] {
      border: 1px solid red;
}
